.recent-works {
  width: 95%;
  margin: auto;
}
.Slider {
  width: 90%;
  margin: 5%;
}

.slider-item {
  height: 400px;
  position: relative; /* Add this to allow absolute positioning of the image */
  max-width: 300px;
  margin: 0 ;
}

.slider-image {
  max-width: 95%; /* Ensure the image width does not exceed its container */
  max-height: 95%; /* Ensure the image height does not exceed its container */
  position: absolute; /* Position the image absolutely within its container */
  top: 50%; /* Move the image to the center vertically */
  left: 50%; /* Move the image to the center horizontally */
  transform: translate(-50%, -50%); /* Center the image precisely */
  margin: auto;
}

.slider-text {
  position: absolute;
  bottom: 0%;
  width: 95%;
  background-color: rgba(0, 0, 0, 70%);
  color: #fff;
  padding: 10px;
  margin: auto;
  left: 2.5%;
}

.slider-title {
  font-size: 18px;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  z-index: 5;
  background-color: #fff;
  padding: 15px 20px 15px 20px;
  border-radius: 50%;
}

.prev {
  left: 10px; /* Adjust the left position */
}

.next {
  right: 10px; /* Adjust the right position */
}

.order-place {
  width: 95%;
  margin: auto;
}
.highlight-img {
  border-radius: 50%;
}

.highlight-img:hover {
  padding: 5px;
  border: 2px dashed #000;
  transition: 0.3s ease-in-out;
}

.highlight-desc {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 20px;
}

.order-form {
  margin: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.208);
  width: 65%;
  margin-bottom: 40px;
}

.order-form h2 {
  color: #343a40;
  margin-bottom: 20px;
  font-weight: 600;
}

.order-form p {
  color: #6c757d;
  margin-bottom: 20px;
}

.form-group {
  margin-top: 10px;
}
.order-form .form-control,
.order-form .form-check-input {
  border-radius: 0;
}

.order-form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0; /* Square corners */
}

.order-form .btn-primary:hover,
.order-form .btn-primary:focus {
  background-color: #0056b3;
  border-color: #0056b3;
}

.container-title {
  font-size: 25px;
  font-weight: 700;
}

.order-form label {
  font-weight: 600;
}

@media screen and (max-width: 1100px) {
  .order-form {
    width: 95%;
  }
}

.toast .btn-close{
  color: #fff;
}

.faq-section .faq-item {
  margin-bottom: 10px;
}

.faq-section .faq-question {
  cursor: pointer;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
}

.faq-section .faq-answer {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.faq-section .faq-answer.open {
  max-height: 300px; /* Adjust as needed */
}
