
@font-face {
    font-family: 'Syne-Medium'; /* Give the font a name */
    src: url('../../../public/assets/Syne-Medium.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Syne-Bold'; /* Give the font a name */
    src: url('../../../public/assets/Syne-Bold.ttf') format('ttf');
  }
  
  .navbar-brand {
    position: absolute;
    top: 8px;
    left: 50%; /* Move the div 50% from the left edge of its container */
    transform: translateX(-50%); /* Move the div back by 50% of its own width */
    font-family: 'Syne-Bold', sans-serif; 
  }

  .social-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
  }

  .social-icons a{
    color: #333;
    padding-left: 20px;
    font-size: 20px;
  }
      
  .navbar-toggler{
    border: 0px !important;
  }
  .show .navbar-nav .nav-link{
    padding: 10px 0px 10px  0px;
  }

  .show .social-icons {
    padding: 10px 10px 10px  0px;
  }