@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


@font-face {
  font-family: 'Syne-Medium'; /* Give the font a name */
  src: url('../public/assets/Syne-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne-Bold'; /* Give the font a name */
  src: url('../public/assets/Syne-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne-Regular'; /* Give the font a name */
  src: url('../public/assets/Syne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne-SemiBold'; /* Give the font a name */
  src: url('../public/assets/Syne-SemiBold.ttf') format('truetype');
}


html {
  color-scheme: light dark;
}

body{
  font-family:  'Syne-Regular',sans-serif;
}
.content-container{
  margin-left: 0px;
  margin-top: 80px !important;
  margin-right: 0px;
}